I am tasked with working for an investor who specializes in purchasing undervalued assets. The investor wants to perform detailed data analysis to identify opportunities for growth and profitability in a potential purchase—TellCo, a mobile service provider in the Republic of Pefkakia. my goal is to analyze customer data, provide insights, and make recommendations on whether TellCo is worth buying or selling. The analysis will be presented through a web-based dashboard and a written report.

          Task 3: Experience Analytics
Objective: Evaluate customer experience based on network parameters and device characteristics.

Aggregate average TCP retransmission, RTT, handset type, and throughput per customer.

List top, bottom, and most frequent TCP, RTT, and throughput values.

Report distributions and averages of throughput and TCP retransmission per handset type.

Perform k-means clustering to segment users into experience groups and describe each cluster.

In [2]:
import sys 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import psycopg2
from dotenv import load_dotenv
from sqlalchemy import create_engine
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
os.chdir('..')
sys.path.append(os.getcwd())
#from scripts.DB_connection  import PostgresConnection
from src.Eda import missing_values_table, convert_bytes_to_megabytes

In [3]:
from scripts.DB_connection import PostgresConnection

# Establishing the database connection
db = PostgresConnection()
db.connect()

if db.conn:
    # Example query
    query = "SELECT * FROM xdr_data"
    result = db.execute_query(query)

    if result:
        # Convert the result to a Pandas DataFrame
        df = pd.DataFrame(result, columns=[desc[0] for desc in db.cursor.description])
        print(df.head())  # Display the first few rows of the DataFrame
    else:
        print("No results returned from the query.")
    
    # Close the connection when done
    db.close_connection()
else:
    print("Error: No database connection.")

Connected to PostgreSQL database!
      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0  9.16456699548519E+015  ...          15854611.0           2501332.0
1                L77566A  ...          20247395.0          19111729.0
2                D42335A  ...          19725661.0          14699576.0
3                T21824A  ...          21388122.0          15146643.0
4                D88865A  ...          15259380.0          18962873.0

   Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0           8198936.0           9656251.0        278082303.0
1          18338413.0          17227132.0        608750074.0
2          17587794.0           6163408.0        229584621.0
3          13994646.0           1097942.0        799538153.0
4          17124581.0            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)
0       308879636.0
1       653384965.0
2       279807335.0
3       846028530.0
4       569138589.0

[5 rows x 55 columns]
Connection closed.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [5]:
df.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [4]:
#columns that are needed for user experience analysis
user_experience_columns = [
    'IMSI',
    #Handset Information:
    'Handset Type',
   'Handset Manufacturer',
    #RTT (Round-Trip Time):
    'Avg RTT DL (ms)',
    'Avg RTT UL (ms)',
    #Throughput:
    'Avg Bearer TP DL (kbps)',
    'Avg Bearer TP UL (kbps)',
    #TCP Retransmission Volumes:
    'TCP DL Retrans. Vol (Bytes)',
    'TCP UL Retrans. Vol (Bytes)'
]
# Create the df_user_experience DataFrame with the selected columns
df_user_experience = df[user_experience_columns].copy()

eda on the user_experience_columns

In [7]:
df_user_experience.head()

,IMSI,Handset Type,Handset Manufacturer,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes)
0,2.082014e+14,Samsung Galaxy A5 Sm-A520F,Samsung,42.0,5.0,23.0,44.0,NaN,NaN
1,2.082019e+14,Samsung Galaxy J5 (Sm-J530),Samsung,65.0,5.0,16.0,26.0,NaN,NaN
2,2.082003e+14,Samsung Galaxy A8 (2018),Samsung,NaN,NaN,6.0,9.0,NaN,NaN
3,2.082014e+14,undefined,undefined,NaN,NaN,44.0,44.0,NaN,NaN
4,2.082014e+14,Samsung Sm-G390F,Samsung,NaN,NaN,6.0,9.0,NaN,NaN

In [8]:
df_user_experience.shape

(150001, 9)

In [9]:
#checking for missing values using imported function missing_values_table
missing_values_table(df_user_experience)

Your selected dataframe has 9 columns.
There are 9 columns that have missing values.

                             Missing Values  % of Total Values    Dtype
TCP UL Retrans. Vol (Bytes)           96649               64.4  float64
TCP DL Retrans. Vol (Bytes)           88146               58.8  float64
Avg RTT DL (ms)                       27829               18.6  float64
Avg RTT UL (ms)                       27812               18.5  float64
Handset Type                            572                0.4   object
Handset Manufacturer                    572                0.4   object
IMSI                                    570                0.4  float64
Avg Bearer TP UL (kbps)                   1                0.0  float64
Avg Bearer TP DL (kbps)                   1                0.0  float64

In [10]:
#cleaning the data by using different techniques
df_user_experience.dropna(subset=['IMSI'], inplace=True)
df_user_experience.dropna(subset=['Handset Type'], inplace=True)
missing_values_table(df_user_experience)

Your selected dataframe has 9 columns.
There are 4 columns that have missing values.

                             Missing Values  % of Total Values    Dtype
TCP UL Retrans. Vol (Bytes)           96432               64.5  float64
TCP DL Retrans. Vol (Bytes)           87937               58.8  float64
Avg RTT DL (ms)                       27693               18.5  float64
Avg RTT UL (ms)                       27675               18.5  float64

In [11]:
# Calculate mean values
mean_rtt_dl = df_user_experience['TCP UL Retrans. Vol (Bytes)'].mean()
mean_rtt_ul = df_user_experience['TCP DL Retrans. Vol (Bytes)'].mean()
mean_rtt_dl = df_user_experience['Avg RTT UL (ms)'].mean()
mean_rtt_ul = df_user_experience['Avg RTT DL (ms)'].mean()

# Fill missing values with mean
df_user_experience['Avg RTT DL (ms)'].fillna(mean_rtt_dl, inplace=True)
df_user_experience['Avg RTT UL (ms)'].fillna(mean_rtt_ul, inplace=True)
df_user_experience['TCP UL Retrans. Vol (Bytes)'].fillna(mean_rtt_dl, inplace=True)
df_user_experience['TCP DL Retrans. Vol (Bytes)'].fillna(mean_rtt_ul, inplace=True)

C:\Users\Dagi\AppData\Local\Temp\ipykernel_7640\3668450975.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_user_experience['Avg RTT DL (ms)'].fillna(mean_rtt_dl, inplace=True)
C:\Users\Dagi\AppData\Local\Temp\ipykernel_7640\3668450975.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_user_experience['Avg RTT UL (ms)'].fillna(mean_rtt_ul, inplace=True)
C:\Users\Dagi\AppData\Local\Temp\ipykernel_7640\3668450975.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_user_experience['TCP UL Retrans. Vol (Bytes)'].fillna(mean_rtt_dl, inplace=True)
C:\Users\Dagi\AppData\Local\Temp\ipykernel_7640\3668450975.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_user_experience['TCP DL Retrans. Vol (Bytes)'].fillna(mean_rtt_ul, inplace=True)

In [12]:
#no missing value every thing is clear
missing_values_table(df_user_experience)

Your selected dataframe has 9 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values, Dtype]
Index: []

In [13]:
#Formatting the data
#Byte to Megabyte conversion
byte_columns = [
    'TCP DL Retrans. Vol (Bytes)',
    'TCP UL Retrans. Vol (Bytes)']
for column in byte_columns:
    if column in df_user_experience.columns:
        df_user_experience[column] = df_user_experience[column].apply(convert_bytes_to_megabytes)

In [14]:
#converting milliseconds to seconds
from src.Eda import convert_ms_to_seconds
millisecond_columns = [
    'Avg RTT DL (ms)',
    'Avg RTT UL (ms)'
]
for column in millisecond_columns:
    if column in df_user_experience.columns:
        df_user_experience[column] = df_user_experience[column].apply(convert_ms_to_seconds)

In [15]:
#renaming the columns for better understanding b/c the bytes are converted to megabytes and milliseconds to seconds
df_user_experience.rename(columns=lambda x: x.replace('Bytes', 'Megabytes') if 'Bytes' in x else x, inplace=True)
df_user_experience.rename(columns=lambda x: x.replace('(ms)', '(s)') if '(ms)' in x else x, inplace=True)

In [16]:
df_user_experience.head()

,IMSI,Handset Type,Handset Manufacturer,Avg RTT DL (s),Avg RTT UL (s),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Megabytes),TCP UL Retrans. Vol (Megabytes)
0,2.082014e+14,Samsung Galaxy A5 Sm-A520F,Samsung,0.042000,0.00500,23.0,44.0,0.000103,0.000017
1,2.082019e+14,Samsung Galaxy J5 (Sm-J530),Samsung,0.065000,0.00500,16.0,26.0,0.000103,0.000017
2,2.082003e+14,Samsung Galaxy A8 (2018),Samsung,0.017675,0.10811,6.0,9.0,0.000103,0.000017
3,2.082014e+14,undefined,undefined,0.017675,0.10811,44.0,44.0,0.000103,0.000017
4,2.082014e+14,Samsung Sm-G390F,Samsung,0.017675,0.10811,6.0,9.0,0.000103,0.000017

i will do this in code below  
List top, bottom, and most frequent TCP, RTT, and throughput values.

In [17]:
#Computing & list 10 of the top, bottom, and most frequent values for some columns

df_user_experience['Total TCP Retransmission'] = df_user_experience['TCP DL Retrans. Vol (Megabytes)'] + df_user_experience['TCP UL Retrans. Vol (Megabytes)']
df_user_experience['Total RTT'] = df_user_experience['Avg RTT DL (s)'] + df_user_experience['Avg RTT UL (s)']
df_user_experience['Total Throughput'] = df_user_experience['Avg Bearer TP DL (kbps)'] + df_user_experience['Avg Bearer TP UL (kbps)']

#top, bottom, and most frequent values of TCP Retransmission

top_10_tcp = df_user_experience['Total TCP Retransmission'].nlargest(10)
# Bottom 10 TCP Values
bottom_10_tcp = df_user_experience['Total TCP Retransmission'].nsmallest(10)
# Most Frequent TCP Values
most_frequent_tcp = df_user_experience['Total TCP Retransmission'].value_counts().head(10)
print("Top 10 TCP Retransmission Values:\n", top_10_tcp)
print("Bottom 10 TCP Retransmission Values:\n", bottom_10_tcp)
print("Most Frequent TCP Retransmission Values:\n", most_frequent_tcp)

Top 10 TCP Retransmission Values:
 34645     4142.871524
140813    4102.208556
77979     4095.489469
135678    4092.659903
3782      4089.470730
119684    4077.426637
39637     4070.899343
59016     4064.193763
76990     4062.818666
41209     4057.559627
Name: Total TCP Retransmission, dtype: float64
Bottom 10 TCP Retransmission Values:
 125094    0.000019
2850      0.000021
60376     0.000021
75093     0.000021
143429    0.000021
143707    0.000021
18455     0.000023
100357    0.000023
122618    0.000023
3024      0.000024
Name: Total TCP Retransmission, dtype: float64
Most Frequent TCP Retransmission Values:
 Total TCP Retransmission
0.000120    85100
0.001337      650
0.001285      247
0.001371      245
0.000053      136
0.000105      131
0.001360      130
0.002554      120
0.001274      105
0.002640       99
Name: count, dtype: int64

In [18]:
#top, bottom, and most frequent values of RTT Values
# Top 10 RTT Values
top_10_rtt = df_user_experience['Total RTT'].nlargest(10)
# Bottom 10 RTT Values
bottom_10_rtt = df_user_experience['Total RTT'].nsmallest(10)
# Most Frequent RTT Values
most_frequent_rtt = df_user_experience['Total RTT'].value_counts().head(10)
print("\nTop 10 RTT Values:\n", top_10_rtt)
print("Bottom 10 RTT Values:\n", bottom_10_rtt)
print("Most Frequent RTT Values:\n", most_frequent_rtt)

Top 10 RTT Values:
 30166     96.924
29927     64.641
5989      54.848
22851     27.278
23455     26.300
1373      25.922
81274     25.715
97321     25.388
100584    24.738
97915     20.980
Name: Total RTT, dtype: float64
Bottom 10 RTT Values:
 42612     0.000
103328    0.000
124544    0.000
143878    0.000
71739     0.002
50974     0.004
144923    0.004
103549    0.005
8778      0.006
123219    0.006
Name: Total RTT, dtype: float64
Most Frequent RTT Values:
 Total RTT
0.125786    27665
0.039000     3636
0.029000     2927
0.040000     2362
0.038000     2091
0.029000     2065
0.031000     1957
0.028000     1788
0.030000     1696
0.047000     1571
Name: count, dtype: int64

In [19]:
#top, bottom, and most frequent values of Throughput Values
# Top 10 Throughput Values
top_10_throughput = df_user_experience['Total Throughput'].nlargest(10)
# Bottom 10 Throughput Values
bottom_10_throughput = df_user_experience['Total Throughput'].nsmallest(10)
# Most Frequent Throughput Values
most_frequent_throughput = df_user_experience['Total Throughput'].value_counts().head(10)
print("\nTop 10 Throughput Values:\n", top_10_throughput)
print("Bottom 10 Throughput Values:\n", bottom_10_throughput)
print("Most Frequent Throughput Values:\n", most_frequent_throughput)

Top 10 Throughput Values:
 120890    382262.0
143670    313244.0
141262    304299.0
91313     300546.0
116807    283931.0
141458    281144.0
149617    277152.0
92193     276205.0
116565    274052.0
117791    269888.0
Name: Total Throughput, dtype: float64
Bottom 10 Throughput Values:
 149     0.0
364     0.0
618     0.0
756     0.0
1818    0.0
2489    0.0
3935    0.0
4166    0.0
4853    0.0
5821    0.0
Name: Total Throughput, dtype: float64
Most Frequent Throughput Values:
 Total Throughput
63.0    3886
15.0    3701
97.0    1945
90.0    1882
98.0    1800
96.0    1671
99.0    1570
89.0    1556
91.0    1517
93.0    1490
Name: count, dtype: int64

In [20]:
#average throughput per handset type
df_user_experience['Avg Throughput'] = (df_user_experience['Avg Bearer TP DL (kbps)'] + df_user_experience['Avg Bearer TP UL (kbps)']) / 2
throughput_per_handset = df_user_experience.groupby('Handset Type')['Avg Throughput'].mean().reset_index()
throughput_per_handset

                                           Handset Type  Avg Throughput
0                            A-Link Telecom I. Cubot A5    11755.000000
1                     A-Link Telecom I. Cubot Note Plus     3349.500000
2                        A-Link Telecom I. Cubot Note S     4468.500000
3                          A-Link Telecom I. Cubot Nova    28108.500000
4                         A-Link Telecom I. Cubot Power    34734.000000
...                                                 ...             ...
1391  Zte Zte Blade C2 Smartphone Android By Sfr Sta...       29.000000
1392                          Zyxel Communicat. Lte7460    30978.000000
1393                          Zyxel Communicat. Sbg3600    48675.500000
1394                    Zyxel Communicat. Zyxel Wah7706     1086.500000
1395                                          undefined     5030.306721

[1396 rows x 2 columns]

Report distributions and averages of throughput and TCP retransmission per handset type.

In [21]:
# Step 1: Filter out handsets with very few entries
handset_counts = df_user_experience['Handset Type'].value_counts()
filtered_handsets = handset_counts[handset_counts > 50].index  
df_filtered = df_user_experience[df_user_experience['Handset Type'].isin(filtered_handsets)]

# Calculate average throughput
df_filtered['Avg Throughput'] = (df_filtered['Avg Bearer TP DL (kbps)'] + df_filtered['Avg Bearer TP UL (kbps)']) / 2
throughput_per_handset = df_filtered.groupby('Handset Type')['Avg Throughput'].mean().sort_values(ascending=False).reset_index()

# Display the table
print(throughput_per_handset.to_string(index=False))

C:\Users\Dagi\AppData\Local\Temp\ipykernel_7640\1276239203.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Avg Throughput'] = (df_filtered['Avg Bearer TP DL (kbps)'] + df_filtered['Avg Bearer TP UL (kbps)']) / 2

                                    Handset Type  Avg Throughput
                                Huawei B528S-23A    21099.394289
                                    Huawei E5573    16533.233624
                                    Huawei E5180    15480.670515
                     Oneplus Technolo. Oneplus 6    15182.597222
                                Huawei B525S-23A    14513.097826
                   Xiaomi Communica. Redmi Note5    12929.178571
                                   Huawei E5573B    12926.032468
              Samsung Galaxy S5 Lte-A (Sm-G901X)    11879.972222
                    Oneplus Technolo. Oneplus 6T    11861.243590
                                  Huawei Lya-L29    10009.798387
                                  Huawei Vog-L29     9840.254545
                                   Huawei E5186S     9655.061404
                    Sony Mobile Comm. Xperia Xz1     9515.175824
              Asustek Asus Zenfone 3 Max Zc520Tl     9503.225490
                    Samsung Galaxy A5 (Sm-A510X)     9380.066845
                                  Huawei P20 Pro     9117.932642
                    Samsung Galaxy J7 (Sm-J710X)     9074.660839
           Samsung Galaxy Grand Prime (Sm-G530X)     9037.172727
              Sony Mobile Comm. Xperia Xa1 Ultra     8957.292553
                                  Huawei P8 Lite     8455.484716
                     Apple iPhone 8 Plus (A1864)     8302.449495
                                 Huawei Honor 10     8245.106250
              Sony Mobile Comm. Xperia Xa2 Ultra     8242.639130
Huawei Mate 10 Pro Porsche Design Huawei Mate 10     8204.063202
                   Samsung Galaxy S9 Sm-G960F Ds     8133.298297
                    Sony Mobile Comm. Xperia Xa1     7954.942308
                Samsung Galaxy Note 8 (Sm-N950F)     7873.660584
                                  Huawei Col-L29     7842.528369
                    Samsung Galaxy J5 (Sm-J510X)     7797.602190
                              Samsung Galaxy S10     7637.961538
                     Apple iPhone Xs Max (A2101)     7635.670644
                                  Huawei P9 Lite     7588.761421
                    Samsung Galaxy S5 (Sm-G900F)     7508.475410
                    Samsung Galaxy A3 (Sm-A310X)     7483.002439
                          Apple iPhone X (A1901)     7480.657881
               Samsung Galaxy S9 Plus (Sm-G965F)     7403.354376
                    Samsung Galaxy J5 (Sm-J500X)     7356.518293
                                      Huawei P20     7324.477027
                         Apple iPhone Xs (A2097)     7284.885227
                    Sony Mobile Comm. Xperia Xa2     7258.798013
                               Samsung Galaxy S9     7199.898069
                                  Huawei Sne-Lx1     7171.094059
               Samsung Galaxy S8 Plus (Sm-G955F)     7050.321212
                    Samsung Galaxy S8 (Sm-G950F)     6993.849226
              Samsung Galaxy S8 Plus (Sm-G955Fd)     6916.282178
                         Apple iPhone Xr (A2105)     6834.074869
                     Sony Mobile Comm. Xperia L1     6806.345679
                     Apple iPhone 7 Plus (A1784)     6574.002182
                     Apple iPhone 8 Plus (A1897)     6508.909151
                     Apple iPhone 7 Plus (A1661)     6348.327485
                                 Huawei Honor 8X     6304.110048
                                  Huawei Ele-L29     6258.186813
                                      Huawei P10     6180.006770
              Huawei Mate 10 Lite Huawei Nova 2I     6156.949627
                            Samsung Galaxy Note9     6152.172503
                          Apple iPhone 7 (A1778)     6100.490278
               Samsung Galaxy S7 Edge (Sm-G935X)     6039.638168
                                   Huawei Mate 9     5993.787611
                          Apple iPhone X (A1865)     5989.921965
                          Apple iPhone 7 (A1660)     5955.083067
                   Samsung Galaxy S8 (Sm-G950Fd)     5839.976852
                          Apple iPhone 8 (A1905)     5818.801522
                             Huawei Mate 20 Lite     5803.127907
                                  Huawei Stf-L09     5665.025773
                                       Huawei P9     5604.273109
                    Samsung Galaxy S7 (Sm-G930X)     5602.079400
                    Samsung Galaxy A3 (Sm-A300X)     5565.505155
                    Apple iPhone 6S Plus (A1634)     5500.669492
                                 Huawei P10 Lite     5498.372250
                                  Huawei Pot-Lx1     5419.694611
               Samsung Galaxy S6 Edge (Sm-G925X)     5395.432911
                       Crosscall Trekker-M1 Core     5378.341584
                          Samsung Galaxy A7 2018     5213.848889
                          Apple iPhone 8 (A1863)     5118.217054
                                 Huawei Honor 7X     5081.212264
                               Samsung Galaxy J7     5034.544586
                                       undefined     5030.306721
                         Apple iPhone 5S (A1457)     4983.126568
                    Samsung Galaxy S6 (Sm-G920X)     4974.873838
                         Apple iPhone 6S (A1633)     4953.323077
                        Samsung Galaxy A8 (2018)     4931.511188
        Samsung Galaxy Grand Prime Ve (Sm-G531X)     4914.013158
           Samsung Galaxy Grand Prime (Sm-G530F)     4846.392734
                    Samsung Galaxy J3 (Sm-J320X)     4831.082407
                     Apple iPhone 6 Plus (A1522)     4794.469194
             Samsung Galaxy Note 8 (Sm-N950F Ds)     4719.306667
                  Huawei P20 Lite Huawei Nova 3E     4718.359476
                               Samsung Sm-G357Fz     4678.745614
                                  Huawei Y5 2018     4659.418750
                Samsung Galaxy S6 Plus (Sm-G928)     4488.516892
                      Samsung Galaxy A5 Sm-A520F     4313.793099
                         Apple iPhone 5S (A1453)     4219.610390
                                  Huawei Fig-Lx1     4174.767539
                   Samsung Galaxy A6 (Sm-A605Fn)     4164.042169
               Samsung Galaxy S4 Mini (Gt-I9195)     4134.319549
                          Apple iPhone 7 (A1779)     4132.763819
                  Samsung Galaxy A6 Sm-A600Fn Ds     4101.440278
            Samsung Galaxy Core Prime (Sm-G361F)     4099.669231
                         Apple iPhone 5C (A1507)     4096.039024
                          Apple iPhone 6 (A1549)     4006.871084
                    Apple iPhone 6S Plus (A1687)     3974.304497
                         Apple iPhone 6S (A1688)     3944.061525
                     Samsung Galaxy J7 (Sm-J730)     3936.486150
                         Apple iPhone 5C (A1532)     3847.793103
                          Apple iPhone 6 (A1586)     3808.877757
                     Apple iPhone 6 Plus (A1524)     3791.681048
                         Apple iPhone 5S (A1533)     3725.953901
                     Samsung Xcover 3 (Sm-G388X)     3678.142534
                                     Huawei Y5Ii     3517.935294
                             Huawei Honor 9 Lite     3459.727273
                                  Huawei Y7 2018     3389.493902
                               Samsung Galaxy J6     3365.838643
                     Samsung Galaxy A3 (Sm-A320)     3283.764976
                    Wiko Global Sasu Wiko Lenny3     3203.732143
                 Samsung Galaxy Xcover4 Sm-G390F     3138.671429
                         Apple iPhone Se (A1723)     3112.252554
                                  Huawei Mrd-Lx1     3073.982759
                                  Huawei Y6 2018     2940.379639
                              Samsung Galaxy J6+     2921.118534
                          Apple iPhone 5 (A1429)     2895.868613
                         Apple iPhone Se (A1662)     2895.246305
                     Samsung Galaxy J3 (Sm-J330)     2549.991963
                Samsung Galaxy Grand (Gt-I9060X)     2520.313333
                                Samsung Sm-G389F     2397.650485
                     Samsung Galaxy J5 (Sm-J530)     2347.546131
                                Samsung Sm-G390F     1531.742780
                         Wiko Global Sasu Sunny3     1314.657895
                         Tcl Communicatio. U3 3G     1259.729885
          Samsung Galaxy Trend Lite 2 (Sm-G318X)     1199.811321
            Samsung Galaxy Trend Lite (Gt-S7390)     1060.137363
                         Apple iPhone 4S (A1387)      834.289604
                          Apple iPhone 4 (A1332)      623.302139
                                       Zte Mf259       85.311765

In [22]:
#Average TCP retransmission per handset type
df_user_experience['Avg TCP Retransmission'] = (df_user_experience['TCP DL Retrans. Vol (Megabytes)'] + df_user_experience['TCP UL Retrans. Vol (Megabytes)']) / 2
tcp_retrans_per_handset = df_user_experience.groupby('Handset Type')['Avg TCP Retransmission'].mean().reset_index()
tcp_retrans_per_handset

,Handset Type,Avg TCP Retransmission
0,A-Link Telecom I. Cubot A5,0.000060
1,A-Link Telecom I. Cubot Note Plus,0.293833
2,A-Link Telecom I. Cubot Note S,19.746652
3,A-Link Telecom I. Cubot Nova,0.065408
4,A-Link Telecom I. Cubot Power,0.003834
...,...,...
1391,Zte Zte Blade C2 Smartphone Android By Sfr Sta...,0.000668
1392,Zyxel Communicat. Lte7460,19.682191
1393,Zyxel Communicat. Sbg3600,25.504560
1394,Zyxel Communicat. Zyxel Wah7706,0.000064
1395,undefined,0.461493

In [24]:
# Print the column names of df_filtered
print(df_filtered.columns)

Index(['IMSI', 'Handset Type', 'Handset Manufacturer', 'Avg RTT DL (s)',
       'Avg RTT UL (s)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Megabytes)', 'TCP UL Retrans. Vol (Megabytes)',
       'Total TCP Retransmission', 'Total RTT', 'Total Throughput',
       'Avg Throughput'],
      dtype='object')

In [32]:

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Prepare the data for clustering
clustering_data = df_filtered[['Total TCP Retransmission', 'Avg RTT DL (s)', 'Avg Throughput']].copy()

# Ensure the columns are numeric
clustering_data = clustering_data.apply(pd.to_numeric, errors='coerce')

# Drop any rows with NaN values
clustering_data = clustering_data.dropna()

# Standardize the data
scaler = StandardScaler()
clustering_data_scaled = scaler.fit_transform(clustering_data)

# Applying K-Means Clustering
kmeans = KMeans(n_clusters=3, random_state=42)
df_filtered['Cluster'] = kmeans.fit_predict(clustering_data_scaled)

# Analyze clusters
numeric_columns = ['Total TCP Retransmission', 'Avg RTT DL (s)', 'Avg Throughput']
cluster_analysis = df_filtered.groupby('Cluster')[numeric_columns].mean()

# Display the clusters' description in a table format
print(cluster_analysis)

         Total TCP Retransmission  Avg RTT DL (s)  Avg Throughput
Cluster
0                        1.187293        0.085971     2059.832237
1                     2523.847590        0.111402    35900.569672
2                       17.957182        0.080100    31282.326273

C:\Users\Dagi\AppData\Local\Temp\ipykernel_7640\3777413579.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Cluster'] = kmeans.fit_predict(clustering_data_scaled)

In [5]:

from src.Cluster import preprocess_experience_metrics, perform_kmeans_clustering, map_cluster_names, save_centroids, describe_clusters

# Assuming df_cleaned is your DataFrame
experience_metrics_descriptive = {
    'Avg RTT DL (ms)': 'Average Downlink Round-Trip Time (ms)',
    'Avg RTT UL (ms)': 'Average Uplink Round-Trip Time (ms)',
    'Avg Bearer TP DL (kbps)': 'Average Downlink Throughput (kbps)',
    'Avg Bearer TP UL (kbps)': 'Average Uplink Throughput (kbps)',
    'TCP DL Retrans. Vol (Bytes)': 'Downlink TCP Retransmission Volume (Bytes)',
    'TCP UL Retrans. Vol (Bytes)': 'Uplink TCP Retransmission Volume (Bytes)'
}

# Preprocess experience metrics and standardize the data
df_experience_scaled, scaler = preprocess_experience_metrics(df_user_experience, experience_metrics_descriptive)

# Perform k-means clustering with k=3
df_experience_scaled, kmeans = perform_kmeans_clustering(df_experience_scaled, n_clusters=3)

# Map descriptive cluster names
cluster_names = {
    0: "High-Performance Users",
    1: "Moderate-Performance Users",
    2: "Low-Performance Users"
}
df_experience_scaled = map_cluster_names(df_experience_scaled, cluster_names)

# Add the cluster labels to the original DataFrame
df_user_experience['Experience Group Name'] = df_experience_scaled['Experience Group Name']

# Save the centroids
centroid_experience, centroid_experience_path = save_centroids(kmeans, scaler, experience_metrics_descriptive, cluster_names, 'centroid_experience.csv')

# Display the centroids
print("Centroids of Experience Clusters (Original Scale):")
print(centroid_experience)

# Display the path to the saved file
print(f"\nCentroid Experience DataFrame saved to: {centroid_experience_path}")

# Describe the clusters
cluster_description, descriptions = describe_clusters(df_user_experience, experience_metrics_descriptive, cluster_names)

# Print the cluster descriptions
print("\nCluster Descriptions (Averages of Experience Metrics):")
print(cluster_description)
for description in descriptions:
    print(description)

c:\Users\Dagi\Documents\KAIM\Week-2\User-Overview-Engagement-and-Experience-Analysis\week-2\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "c:\Users\Dagi\Documents\KAIM\Week-2\User-Overview-Engagement-and-Experience-Analysis\week-2\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "C:\Program Files\Python312\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Program Files\Python312\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "C:\Program Files\Python312\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

Centroids of Experience Clusters (Original Scale):
                            Average Downlink Round-Trip Time (ms)  \
Cluster Name
High-Performance Users                                 226.372361
Moderate-Performance Users                              79.341382
Low-Performance Users                                   76.549648

                            Average Uplink Round-Trip Time (ms)  \
Cluster Name
High-Performance Users                                19.995835
Moderate-Performance Users                            25.859358
Low-Performance Users                                 35.068397

                            Average Downlink Throughput (kbps)  \
Cluster Name
High-Performance Users                            18569.107388
Moderate-Performance Users                        56934.480261
Low-Performance Users                             63233.713964

                            Average Uplink Throughput (kbps)  \
Cluster Name
High-Performance Users                           2149.384283
Moderate-Performance Users                      20915.554635
Low-Performance Users                            4159.293385

                            Downlink TCP Retransmission Volume (Bytes)  \
Cluster Name
High-Performance Users                                    6.573846e+06
Moderate-Performance Users                                4.189572e+07
Low-Performance Users                                     6.096992e+07

                            Uplink TCP Retransmission Volume (Bytes)
Cluster Name
High-Performance Users                                  2.813548e+05
Moderate-Performance Users                              4.442687e+06
Low-Performance Users                                   4.819737e+05

Centroid Experience DataFrame saved to: c:\Users\Dagi\Documents\KAIM\centroid_experience.csv

KeyError: 'Average Downlink Round-Trip Time (s)'